<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="top-navbar" th:fragment="navbar">

    <div class="navbar-left">

        <h2>Dashboard</h2>

    </div>

    <div class="navbar-right">

        <i class="fa-solid fa-bell"></i>

        <div class="admin-profile">

            <div class="admin-image">
                <i class="fa-solid fa-user"></i>
            </div>

            <div>

                <h4>Admin</h4>

                <small>VaultX Bank</small>

            </div>

        </div>

    </div>

</nav>

</body>

</html>