<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<aside th:fragment="sidebar" class="sidebar">

    <h2>VaultX</h2>

    <a href="/admin/dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a>

    <a href="/customers">
        <i class="fa-solid fa-users"></i> Customers
    </a>

    <a href="/accounts-page">
        <i class="fa-solid fa-building-columns"></i> Accounts
    </a>

    <a href="/transactions-page">
        <i class="fa-solid fa-arrow-right-arrow-left"></i> Transactions
    </a>

    <a href="/loans">
        <i class="fa-solid fa-hand-holding-dollar"></i> Loans
    </a>

    <a href="/cards">
        <i class="fa-regular fa-credit-card"></i> Cards
    </a>

    <a href="/fixed-deposits">
        <i class="fa-solid fa-piggy-bank"></i> Fixed Deposits
    </a>

    <hr>

    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
</aside>

</body>
</html>