<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<aside th:fragment="sidebar" class="sidebar">

    <h2>VaultX</h2>

    <a href="/admin/dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a>
    <a href="/accounts-page"><i class="fa-solid fa-gauge"></i> Accounts</a>
    <a href="/customers"><i class="fa-solid fa-users"></i> Customers</a>
    <a href="/transactions-page"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transactions</a>

</aside>

</body>
</html>