*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--bg-color);

    color:var(--text);

    overflow-x:hidden;

}

a{

    text-decoration:none;
    color:inherit;

}

button{

    border:none;
    cursor:pointer;
    font-family:inherit;

}

input,
select,
textarea{

    font-family:inherit;
    outline:none;

}

img{

    display:block;
    max-width:100%;

}