<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VaultX Bank | Admin Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="layout">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Navbar -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!-- Welcome Section -->
        <section class="dashboard-header">

            <div>

                <h1>Welcome Back, Admin 👋</h1>

                <p>
                    Manage customers, accounts and transactions from one place.
                </p>

            </div>

        </section>

        <!-- Statistics Cards -->
        <section class="dashboard-cards">

            <div class="card">

                <i class="fa-solid fa-users"></i>

                <h3>Total Customers</h3>

                <h2>245</h2>

            </div>

            <div class="card">

                <i class="fa-solid fa-building-columns"></i>

                <h3>Total Accounts</h3>

                <h2>389</h2>

            </div>

            <div class="card">

                <i class="fa-solid fa-wallet"></i>

                <h3>Total Balance</h3>

                <h2>₹82,50,000</h2>

            </div>

            <div class="card">

                <i class="fa-solid fa-money-bill-transfer"></i>

                <h3>Transactions Today</h3>

                <h2>42</h2>

            </div>

        </section>

    </div>

</div>

<script th:src="@{/js/dashboard.js}"></script>

</body>

</html>