<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VaultX Bank | Admin Dashboard</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="dashboard-body">

<div class="layout">

    <!-- SIDEBAR -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <!-- TOP NAVBAR -->
        <div class="top-navbar">
            <h3>Admin Dashboard</h3>
        </div>

        <!-- DASHBOARD CARDS -->
        <div class="dashboard-cards">

            <div class="card">
                <h3><i class="fa-solid fa-users"></i> Customers</h3>
                <p th:text="${dashboard.totalCustomers}"></p>
            </div>

            <div class="card">
                <h3><i class="fa-solid fa-building-columns"></i> Accounts</h3>
                <p th:text="${dashboard.totalAccounts}"></p>
            </div>

            <div class="card">
                <h3><i class="fa-solid fa-indian-rupee-sign"></i> Balance</h3>
                <p>₹<span th:text="${dashboard.totalBalance}"></span></p>
            </div>

            <div class="card">
                <h3><i class="fa-solid fa-arrow-right-arrow-left"></i> Transactions</h3>
                <p th:text="${dashboard.totalTransactions}"></p>
            </div>

        </div>

    </div>
</div>

<script th:src="@{/js/dashboard.js}"></script>

</body>
</html>