<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VaultX Bank | Forgot Password</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="login-page">

    <!-- LEFT -->

    <div class="login-left">

        <div class="brand">

            <div class="bank-logo">
                <i class="fa-solid fa-building-columns"></i>
            </div>

            <h1>VaultX Bank</h1>

            <h3>Password Recovery</h3>

            <p>
                Enter your registered email address.
                We'll send you an OTP to reset your password securely.
            </p>

        </div>

        <div class="illustration">

            <img th:src="@{/images/banking-login.svg}" alt="Bank">

        </div>

    </div>

    <!-- RIGHT -->

    <div class="login-right">

        <div class="login-card">

            <div class="card-header">

                <h2>Forgot Password</h2>

                <p>Reset your account password</p>

            </div>

            <form th:action="@{/forgot-password}" method="post">

                <div class="input-group">

                    <label>Email Address</label>

                    <div class="input-field">

                        <i class="fa-solid fa-envelope"></i>

                        <input
                                type="email"
                                placeholder="Enter Registered Email">

                    </div>

                </div>

                <button
                        type="submit"
                        class="login-btn">

                    Send OTP

                </button>

            </form>

            <div class="register-link">

                Remember your password?

                <a th:href="@{/}">
                    Login
                </a>

            </div>

        </div>

    </div>

</div>

<script th:src="@{/js/forgot.js}"></script>

</body>

</html>